.app-container{
    width: 540px;
    max-height:max-content;
    max-height: fit-content;
    background-color:#24232C ;
    padding: 34px 32px 32px 32px;
}
.app-title-container{
  display: flex;
  justify-content: center;
  margin-bottom: 31px;
}
.char-length-dashboard-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 26px;
}
.range-input{
    width: 100%;
    height: 8px;
    margin-bottom: 42px;
    background-color: #18171F;
    accent-color: #A4FFAF;
}
.range-indicator{
    color: #A4FFAF;
    font-size: 32px;
    font-weight: bold;
   
}
.char-length{
    color: #E6E5EA;
    font-size: 18px;
    font-weight: bold;
    
}

  .form-container{
    padding-bottom: 32px;
  }
  .generate-btn-container{
    display: flex;
    justify-content: center;
  }
  .generate-btn-container button{
    width: 100%;
    height: 65px;
    background-color: #A4FFAF;
    padding: 21px 0 21px 0;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    border: none;
  
  }
  .generate-btn-container button:hover{
    background-color: #24232C;
    color: #A4FFAF;
    border: 2px solid #A4FFAF;
    outline-offset: 0;
  }

  .password-req-cont{
    display: flex;
    flex-direction: column;
   gap: 20px;
  }
  .checkbox-requirement-container{
    display: flex;
    gap: 24px;
  }
  .checkbox-requirement-container span{
  color: #E6E5EA;
  font-size: 18px;
  font-weight: bold;
  }
  .app-title-container span{
  font-size: 24px;
  font-weight: bold;
  color: #817D92;
  line-height: 32px;
  }
  
  .app-password-dashboard-container{
    display: flex;
    justify-content: center;
  }


  @media screen and (max-width:720px) {
    .app-password-dashboard,.app-container{
      width: 374px;
    }
    .app-title-container span{
      font-size: 18px;
    }
    .checkbox-requirement-container span,.char-length{
      font-size: 16px;
    }
    .range-indicator{
      font-size: 28px;
    }
    .generate-btn-container button{
      font-size: 16px;
    }
  }
  
  @media screen and (max-width:448px) {
    .app-password-dashboard,.app-container{
      width: 300px;
    }
    .app-title-container span{
      font-size: 16px;
    }
    .app-container{
      padding: 30px
    }
    .checkbox-requirement-container span,.generate-btn-container button{
      font-size: 14px;
    }
    
  }