.strength-container{
    width: 100%;
    background-color: #18171F;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 32px;
   padding: 24px 0 24px 0;
}
.strength-container span{
    padding-left: 32px;
}
.strength-cubes-container{
    display: flex;
    gap: 8px;
}
.strength-level-dashboard{
    display: flex;
    align-items: center;
    gap: 15.5px;
    padding-right: 32px;
}
.strength{
    font-size: 18px;
    font-weight: bold;
    color: #817D92;
    text-transform: uppercase;
}
.pass-status{
    color: #E6E5EA;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
}
.cube{
    width: 10px;
    height: 28px;
}
.too-weak .cube1{
    background-color: #F64A4A;
}
.weak .cube1, .weak .cube2{
    background-color: #FB7C58;
}

.medium .cube1,.medium .cube2,.medium .cube3{
    background-color: #F8CD65;
}
.strong .cube1, .strong .cube2,.strong .cube3,.strong .cube4{
    background-color: #A4FFAF;
}