@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;700&display=swap');
.app-outer-container{
    max-width: 100vw;
    min-height: 100vh;
    max-height: fit-content;
    background-color: #18171F;
    display: flex;
    justify-content: center;
    padding-top: 133px;
    font-family: 'JetBrains Mono',monospace;
}