.password-dashboard-container{
    width: 540px;
    background-color:#24232C ;
    padding: 19px 32px 19px 32px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.generated-pass{
    font-size: 32px;
    color: #E6E5EA;
}
.default-pass{
    font-size: 32px;
    color: #E6E5EA;
    opacity: 25%;
}
.copied{
    font-size: 18px;
    color: #A4FFAF;
    font-weight: bold;
    transition: 0.3s;
    text-transform: uppercase;
}
.copy-container{
    display: flex;
    align-items: center;
    gap: 16px;
}