.password-dashboard-container{
    width: 540px;
    background-color:#24232C ;
    padding: 19px 32px 19px 32px;
    margin-bottom: 30px;
}
.password-dashboard-container span{
    font-size: 32px;
    color: #E6E5EA;
}